
<html>
  <head>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <style>
       #mapid {
       height: 500px;
       width: 700px;
       }
    </style>
  </head>
  <body>
    <h1>Test Map No Django Magic</h1>

    <!-- My test Div -->
    <div id="ryanstestdiv">Ryans Point</div>

    <div id="map"></div>
    <div id="mapid"></div>
    <script type="text/javascript">
  // initialize the map, uses mapbox - this might be interesting, you can design the gis
  // and display it on your site

  var mymap = L.map('mapid').setView([45.254146, 34.195522], 7);
  L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v10/tiles/256/{z}/{x}/{y}?access_token={ryans_token}',
                {ryans_token: "pk.eyJ1IjoibXlhbmltZSIsImEiOiJjajA1ZjA2bWwwMGJ1MzNueXdlMTR0eDQ0In0.nKBQW_kjp-tlBJG07PVtXg"}
                ).addTo(mymap);

  //This is pulling data from the database. We could set up forms to add polygons, points to the DB

  // Makes a request to the URL /map/data.geojson
  var dataurl = '/map/data.geojson';
  $.getJSON(dataurl, function(data){
  console.log('nigger');

  //Adds the data that gets returned to the map
  L.geoJson(data).addTo(mymap);
  });

  //I couldnt get this working, but it should be pretty easy to add points by including
  // data in the HTML
  var simple_data = {
    "type": "Feature",
    "geometry": {
      "type": "Polygon",
      "coordinates": [
        [
          [45.279517,34.141646]
        ]
      ]
    },
    "properties": {
      "type": "boundary",
      "wikipedia": "uk:Автономна_Республіка_Крим"
    }
  }

  L.geoJson(simple_data).addTo(mymap);

  //Gets rid of the leaflet add
  $('#mapid > div.leaflet-control-container > div.leaflet-bottom.leaflet-right > div > a').hide()

 </script>
  </body>
</html>